
<h1><%= @author.name %> </h1>

<% @author.books.each do |book| %>
    <%=link_to(book.title, book_path(book)) %><br>
    <%= book.year %><br>
    <%= book.pages %><br>
    <%= book.reviews.top_review.title %><br>
    <%= book.reviews.top_review.score %><br>
    <%= link_to(book.reviews.top_review.user.name, user_path(book.reviews.top_review.user)) %><br>
<% end %>

<%= button_to "Delete", author_path(@author.id), method: :delete %>
