
<div class='title'> <h1><%= @author.name %> </h1></div>

<div class='author_info'>
    <ul>
    <% @author.books.each do |book| %>
    <li><%=link_to(book.title, book_path(book)) %><br></li>
    <li><%= book.year %><br></li>
    <li><%= book.pages %><br></li>
    <li><%= book.reviews.top_review.title %><br></li>
    <li><%= book.reviews.top_review.score %><br></li>
    <li><%= link_to(book.reviews.top_review.user.name, user_path(book.reviews.top_review.user)) %><br></li>
    <% end %>
  </ul>
</div>

<div class='delete_button'> <%= button_to "Delete", author_path(@author.id), method: :delete %></div>
