<h1><%=@user.name %></h1>
<p><%= link_to"Newest Reviews", user_path %></p> # @new_reviews
<p><%= link_to"Oldest Reviews", user_path %></p> # @old_reviews

<% @user.reviews.each do |review| %>
  <h2><%= review.title %></h2>
  <p>Rating: <%= review.score %> Stars</p>
  <p><%= review.description %></p><br>
<% end %>
