<h1><%=@user.name %></h1>
<p><%= link_to"Newest Reviews", user_path %></p>
<p><%= link_to"Oldest Reviews", user_path %></p>

<div Class="users" id="User-<%="#{@user.name}"%>">
<% @user.reviews.each do |review| %>
  <h2><%= review.title %></h2>
  <p><%=link_to(review.book.title, book_path(review.book)) %></p>
  <p>Rating: <%= review.score %> Stars</p>
  <p><%= review.description %></p><br>
  <%= button_to "Delete",review_path(review), method: :delete %>
<% end %>
</div>
