<!-- <h1> Create A New Book! </h1>

 <%= form_for [@book, @authors] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :year %>
  <%= f.text_field :year %>
  <%= f.label :pages %>
  <%= f.text_field :pages %>
  <%= f.label :authors %>
  <%= f.text_field :authors %>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>
  <%= f.submit %>
<% end %> -->
