
<div class='title'><h1> Create A New Book </h1></div>
<div class='form'><%= form_for @book do |f| %>

    <div class='title_field'><%= f.label :title %>
    <%= f.text_field :title %></div>

    <div class='year_field'><%= f.label :year %>
    <%= f.text_field :year %></div>

    <div class='pages_field'><%= f.label :pages %>
    <%= f.text_field :pages %></div>

    <div class='authors_field'><%= f.label :authors %>
    <%= f.text_field :authors, :value => "" %></div>

    <div class='img_url_field'><%= f.label :image_url %>
    <%= f.text_field :image_url %></div>

    <div class='submit_button'><%= f.submit %></div>
  <% end %>
</div>
