<div class="book">
  <h1>Title: <%= @book.title %></h1>
  <% @book.authors.each do |author| %>
  <p>Author: <%= link_to(author.name, author_path(author)) %></p>
  <% end %>
  <p>Length: <%= @book.pages %> Pages</p>
</div>
  <%= button_to "Delete",book_path(@book.id), method: :delete %>


<div class="reviews_title"><h1> Reviews </h1></div>

<div class="review">
  <% if !@book.reviews.empty? %>
    <% @book.reviews.each do |review| %>
      <p>Title:<%= review.title %></p>
      <p>Description:<%= review.description %></p>
      <p> <%= link_to "#{review.user.name}", user_path(review.user.id) %></p>
      <p>Score:<%= review.score %> Stars</p><br><br>
    <% end %>
  <% end %>
</div>

<div class='book_stats'>
  <p>Top Three</p>
  <div class='top_three'><% @top_three_reviews.each do |review| %>
  <%= review.title %>
  <%= review.description %>
  <%= review.score %><br><br>
  <% end %>
</div>

  <div class='bottom_three'><p>Bottom Three</p>
  <% @bottom_three_reviews.each do |review| %>
  <%= review.title %>
  <%= review.description %>
  <%= review.score %><br><br>
  <% end %>
</div>

  <div class='avg_score'>
  <p>Average Score: <%= @average_score %></p>
 </div>
</div>

<div class='create_a_review'>
  <p><%= link_to("Create Review", new_book_review_path(@book.id))%></p>
</div>
